/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
  line-height: 1.6;
}
nav {
  list-style: none;
  background-color: #e67e22;
  text-align: center;
  padding: 0.5rem 0;
}
nav li {
  display: inline;
  margin: 0 1rem;
  hover: underline;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  hover: underline; 
}
/* Header */
header {
  background-color: #e67e22;
  color: #e67e22;
  text-align: center;
  padding: 2rem 1rem;
}


header h1 {
  font-size: 2.5rem;
background-color: #e67e22;
text-align: center;
color: white;
}
p {
  font-size: 1.2rem;
  background-color: #e67e22;
  text-align: center;
  color: white;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}
img {
  max-width: 700px;
  height: auto;
}

/* Recipe Cards */
.recipe-card {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.recipe-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.recipe-card h2 {
  color: #e67e22;
  margin-bottom: 0.5rem;
}

.recipe-card h3 {
  margin-top: 1rem;
}

.recipe-card ul,
.recipe-card ol {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}
